@media (min-width: 720px) {
    .social svg {
        width: 33px;
        height: auto;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation {
        display: block;
    }

    .navigation li {
        display: in-line;
        max-width: 100%;
    }

    .activies h2 {
        font-size: 15px;
    }

    .activies a,
    p {
        font-size: 15px;
    }

    .header{
        display: grid;
        background-color: #CBC3E3;
        color: black;
        justify-content: center;
        padding: 1rem;
        border-radius: 1rem;
    }
}    