@media (min-width: 768px) and (max-width: 1279px) {

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .website h2 {
        font-size: 15px;
    }

    .website a,
    p {
        font-size: 15px;
    }
}